version: "3"

services:
  backend:
    image: ricky_blog_backend:0.0.1.20240701
    depends_on:
      - database
    ports:
      - 6001:6001
  database:
    image: mysql:8.0
    platform: linux/amd64
    expose: [3306]
    container_name: rickyblog.mysql
    volumes:
      - ./.volumes/database:/var/lib/mysql
    restart: always
    environment:
      MYSQL_PORT: 3306
      MYSQL_USER: mysql
      MYSQL_DATABASE: ricky_blog
      MYSQL_PASSWORD: gaga!1234
      MYSQL_ROOT_PASSWORD: gaga!1234
    ports:
      - 3306:3306
  frontend:
    image: ricky_blog_frontend:0.0.1.20240701
    ports:
      - 6002:6002    
    depends_on:
      - backend
  cms:
    image: ricky_blog_cms:0.0.1.20240701
    ports:
      - 6003:80    
    depends_on:
      - backend      